/* landing page */

body {
    margin: 0;
    padding: 0;
    background-image: url(../images/landing\ page\ pic\ giraffe\ jackal.jpeg );
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #a1abb3;
    overflow: hidden;
    height: 100vh;


}

#instructions{
    position: relative;
  top: 0%;
   left: 50%;
   transform: translate(-50%); 
   width: 100%;
   padding:10px;
   text-align: center;
   font-size: 12px;
   font-weight: bold;
   color: #183854;
   text-shadow: 3px 3px 3px #ccc8c8;  

}

#playAgain {

    position: fixed;
    top: 66vh;
    left: 50vw;
    transform: translate(-50%, -50%);
}

.play-link {
    text-decoration: none;
    color: #742020;
    text-shadow: 4px 4px 4px #d6cdcd; 

}


#TitleMrJackal {
    color: #094555;
    position: fixed;
    top: 10vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    font-style: normal;
    text-shadow: 3px 3px 3px #79a4b5; 

}


/* gamepage */

body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#board {
    background-color: #8697b100;
    height: 100vh;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url("../images/wepik-export-20230524160116sL6M.jpeg");
}


#player {
    background-color: #8697b100;
    position: absolute;
    background-image: url("../images/playerGiraffe.png");
    background-size:cover;
    background-position: center;
}


.obstacle {
   
    background-image: url("../images/wood.jpg");
    background-size: 300px;
    box-shadow: 3px 3px 3px #4e4444;
    
}

.obstacleTwo{
    background-image: url("../images/hiclipart.com\ \(4\).png");
    background-size: 60px;
    background-position: center;
    background-repeat: no-repeat;

}

.obstacleThree{
    background-image: url("../images/leaf.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.friends {
    position: absolute;
    font-size:medium;

}

#score {

    position: relative;
    background-color: #8697b100;
}