body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    
}
#board {
    background-color: #8697b1;
    height: 100vh; 
    /* relative units for responsive / pixels for non responsive design// = 100% of the vh = viewportsize */
    width: 100vw;
    position: relative; 
    /* //defines that this container is teh point of reference for the player */
}

#player {
    background-color: rgb(236, 177, 118);
    position: absolute;
    src: ;
   
}

#score {
    background-color: #08101b;
    /* height: 5vh;  */
    /* width: 5vw; */
    position: relative; 
}
